.fruits-services-content{
    margin-left: 100px;
}
.fruits-services-content > h4 {
    color: #666666;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.fruits-services-content > p {
    color: #363636;
    margin: 0;

}